<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContactServlets</servlet-name>
        <servlet-class>Servlets.ContactServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlets</servlet-name>
        <servlet-class>Servlets.LoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlets</servlet-name>
        <servlet-class>Servlets.RegisterServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegiterLocalServlets</servlet-name>
        <servlet-class>Servlets.RegiterLocalServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForeignServlets</servlet-name>
        <servlet-class>Servlets.RegisterForeignServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForeignServlets</servlet-name>
        <servlet-class>Servlets.LoginForeignServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlets</servlet-name>
        <servlet-class>Servlets.AdminRegisterServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlets</servlet-name>
        <servlet-class>Servlets.AdminLoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductdetailsServlets</servlet-name>
        <servlet-class>Servlets.ProductdetailsServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductdetailsServlet</servlet-name>
        <servlet-class>Servlets.ProductdetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlets</servlet-name>
        <servlet-class>Servlets.ProductdetailsServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productinputservlet</servlet-name>
        <servlet-class>Servlets.productinputservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductdetailsServletnew</servlet-name>
        <servlet-class>Servlets.ProductdetailsServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlets</servlet-name>
        <url-pattern>/ContactServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlets</servlet-name>
        <url-pattern>/LoginServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlets</servlet-name>
        <url-pattern>/RegisterServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegiterLocalServlets</servlet-name>
        <url-pattern>/RegiterLocalServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForeignServlets</servlet-name>
        <url-pattern>/RegisterForeignServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForeignServlets</servlet-name>
        <url-pattern>/LoginForeignServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlets</servlet-name>
        <url-pattern>/AdminRegisterServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlets</servlet-name>
        <url-pattern>/AdminLoginServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductdetailsServlets</servlet-name>
        <url-pattern>/ProductdetailsServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductdetailsServlet</servlet-name>
        <url-pattern>/ProductdetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlets</servlet-name>
        <url-pattern>/ProductetailsServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productinputservlet</servlet-name>
        <url-pattern>/productinputservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductdetailsServletnew</servlet-name>
        <url-pattern>/ProductdetailsServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
